@import "../../../assets/variables.scss";

.cart-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid $light-gray;
  margin-top: 1.875rem;

  .item-quantity {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 5px;
    padding-right: 1.25rem;

    p {
      text-align: center;
      font-size: 1.125rem;
      font-weight: 500;
      width: 28px;
      color: $tertiary;
  

    }
    button {
      font-weight: 600;
      font-size: 1.125rem;
      background: none;
      border: 0;
      cursor: pointer;
    }
  }

  .img-container {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: $light-yellow;

    .item-img {
      width: 6.25rem;
    }
  }

  .item-name {
    font-weight: 600;
    font-size: 1.125rem;
  }

  .item-observation {
    font-weight: 500;
    font-size: 0.75rem;
    color: $light-gray;
  }

  .content-cart {
    flex-grow: 1;
    padding: 0 20px;
  }

  .item-price {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: $tertiary;
  }

  @media (max-width: 768px) {
    flex-wrap: wrap;
    .img-container {
      order: 1;
    }
    .content-cart{
      order: 2;
    }
    .item-quantity{
      order: 3;
      width: 6.25rem;
      padding: 0;
      margin-top: 20px;
      justify-content: center;
    }
    .item-price{
      order: 4;
      margin-top: 20px;
      padding: 0 20px;
    }
  }
}