@import "../../assets/variables.scss";

.grid-container {
  font-family: "Poppins", sans-serif;
  background-color: $primary;

  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;

    background: white;
  }
}
