@import "../../assets/variables.scss";

.grid-container {
  font-family: "Poppins", sans-serif;
  background-color: $primary;

  display: flex;
  // display: grid;
  // grid-template-columns:
  //   200px auto
  //   643px;
  // grid-template-rows: auto;
  // grid-template-areas:
  //   "SB MH PM"
  //   "SB MH PM";
  // height: 100vh;
}

// .container {
//   font-family: "Poppins", sans-serif;
//   background-color: $primary;

//   display: flex;
//   // flex-direction: column;
// }
