@import "../../assets/variables.scss";

.category-list {
  // grid-area: SB;
  min-width: 130px;
  width: 8.125rem;
  min-width: 8.125rem;
  height: 100vh;
  background: $secondary;

  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    width: 100%;
    list-style: none;
  }

  p {
    font-weight: 500;
    font-size: 14px;
    color: $subtitle;
  }

  .active {
    background-color: $tertiary;
    border-radius: 0.5rem;

    svg path {
      fill: $title;
    }

    p {
      color: $title;
    }
  }

  @media (max-width: 768px) {
    // flex-direction: column;
    width: 100%;
    height: fit-content;

    ul {
      display: flex;
      margin: 1.25rem;
      overflow: scroll;
      li {
        min-width: 78px;
      }
    }
  }
}
