@import "../../../assets/variables.scss";

.loading {
  width: 60px;
  height: 60px;

  margin: auto;

  border-radius: 50%;

  border: 6px solid $tertiary;
  border-top-color: $light-yellow;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
